/*
  	Name: Gulp Workflow
  	Version: 1.0
  	Author: Andrej Vajagoc
  	Website: http://drejcreative.com
    email: andrejv@drejcreative.com
*/

.container {
  background: red;
  color: white;
  padding: 150px;
}
